@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial" , "sans-serif";
}

.logo_place_header {
  background-image: url(../images/logo_place_header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__title {
  margin: 0 0 0 64px;
  z-index: 1;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  transform: rotate(15deg);
  animation: rotation 20s linear infinite;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 100px 0 0;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.techniques {
  margin: 100px auto 0;

}

.cards {
  max-width: 920px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.card__item {
  margin-top: 60px;
  max-width: 240px;
  margin-right: 100px;
}
.card__item:nth-last-of-type(3n) {
  margin-right: 0;
}

.card__image {
  margin: 0 40px 43px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.card__title {
  margin: 0 0 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.card__description {
  text-align: center;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 100px auto -40px;
}

.video__iframes {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0;
}

.video__iframe:last-of-type {
  margin: 0;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 100px;
}

.ditits {
  margin: 0 0 100px;
}

.section-title {
  max-width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.section-subtitle {
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0px auto;
}

.table {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  padding: 0 0 70px;
  width: 776px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  position: relative;

}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: relative;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}

.khan {
  background-color: #f2f2f2;
  margin-bottom: -215px;
}

.khan__container {
  width: 80%;
  margin: 0 auto 0;
  padding: 105px 0 0;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  max-width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
}

.khan__book-pic{
  margin-right: 48px;
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.kaufman {
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

.table_theme_dark {
  margin: 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  z-index: 0;
  width: 660px;
  height: 636px;
  animation: rotation 20s linear infinite;
}

.resources {
  margin: 100px auto 217px;
}

.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 0;
  text-decoration: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: fit-content;
}

.footer__column_content_about {
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}


.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin: auto 10px auto 0;
}
